# To build quarto book locally run `quarto render` for the Terminal.

# If there are no errors in the files then this should locally preview the entire Primer
# Take a look around to make sure that you're changes are working (even if there are no errors)

project:
  type: book
  output-dir: docs

book:
  title: "Preceptor's Primer for Bayesian Data Science: Using the Cardinal Virtues for Inference"
  author: "David Kane"
  search: true
  repo-url: https://github.com/PPBDS/primer/
  repo-actions: [edit]
  chapters:
    - index.qmd
    - preamble.qmd
    - getting-started.qmd
    - 01-probability.qmd
    - 02-sampling.qmd
    - 03-rubin-causal-model.qmd
    - 04-cardinal-virtues.qmd
    - 07-election-1992.qmd
    # - 05-polls.qmd Still filed with old nonsense
    - set-up.qmd
    - ai.qmd
format:
  html:
    code-fold: false
    code-summary: "Show the code"
    theme: cosmo
    code-link: true
    code-overflow: wrap
